.container__content {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1000px;
}

.container__content__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  flex: 0 0 calc(25%- 10px);
  margin: 5px;
}

.container__content__item img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.book__title,
.book__author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.btn {
  width: 40%;
  background-color: rgb(139, 103, 173);
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
}
.container__pagination {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.btn__pagination {
  width: 50px;
  opacity: 0.3;
}

.btn--active {
  opacity: 1;
  background-color: aqua;
}